<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>

<head>
  <title>Admin Home</title>
  <link rel="stylesheet" href="/css/adminPage.css">
</head>


<div class="admin-page-title"><h1><b> Welcome to Magic Menu </b></h1></div>

<!-- <div class="notification-popup" id="notificationPopup">
  <p class="notification-message" id="notificationMessage"></p>
</div> -->


<% if( !items.length ){ %>
    
  <div class="row mt-3 " style= "justify-content:center;">
      <div class="card mt-3 " style="width: 20rem; border: none;">
          <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
          <div class="card-body mt-2">
          <h5 class="card-title text-primary"> <b>No Listings</b></h5>
          <p class="card-text mt-3 text-primary"><i>You didn't list any item yet! <br> Please add some listings to show...</i> </p>
          </div>
      </div>
  </div>
<% } %>


<div class="master-div" id="masterDiv">
  
  <% for(let item of items){ %>
    
      <div class=" admin-home-card" id="adminCard">
        <div class="admin-home-card-img-div">
          <% if(item.promote === "Yes"){ %>
            <p class="star"><i class="fa-solid fa-star"></i> PROMOTED</p>
          <% } %>
          <img src="<%= item.image.url %>" class="admin-home-card-img" alt="loading" >
        </div>
        <div class="content-div">
          <div class="name-price-div">
            <div class="item-name-div"><p class="card-text item-name"><%=item.name %></p></div>
            <div class="item-price-div"><p class="card-text item-price"> &#8377; <%= item.price %></p></div>
          </div>

          <div class="item-info-div"><p class="card-text item-info"><%= item.info %></p></div>
          
          <div class="buttons-div">
            <a href="/admin/<%= item._id %>/show" class="btn admin-show-btn">Show</a>
          </div>

        </div>
      </div>
  <% } %>
</div>