<%- include("../includes/loading.ejs") %>
<script>
  // Show the loading screen
  document.getElementById('loading-screen').style.display = 'block';

// Hide the loading screen when the content is loaded
  window.onload = function() {
    setTimeout(()=>{
      document.getElementById('loading-screen').style.display = 'none';
    },1000)
  }
</script>



<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>


<head>
    <link rel="stylesheet" href="/css/adminBillPage.css">
    <link href="/css/masterFooter.css" rel="stylesheet">
</head>


<% parsedBills.forEach((bill) => { %>
<div class="master-div">
    <div class="top-div">
      <div class="name-number-div">
        <p class="top-div-content">Name: <%=bill.customername%></p>
        <%if(bill.mob_number){%>
          <p class="top-div-content">Contact: <%=bill.mob_number%></p>
        <% } %>
        <p class="top-div-content">Invoice: #<%=bill.invoice%></p>
      </div>
      
        <div class="time-date-div">
          <p class="top-div-content">Paid on: <%=bill.paid_date%></p>
          <p class="top-div-content">Paid at: <%=bill.paid_time%></p>
          <p class="top-div-content">Table no: <%= bill.tableno %> </p>
        </div>
    </div>
    
    <div class="middle-div">
      <div class="fixed-div">
          <!-- <div class="item-srNo fixed-div-div"><p class="fixed-div-content">Sr.</p></div> -->
          <div class="item-name fixed-div-div"><p class="fixed-div-content">Item Name</p></div>
          <div class="item-price fixed-div-div"><p class="fixed-div-content">Price</p></div>
          <div class="item-qty fixed-div-div"><p class="fixed-div-content">Qty</p></div>
          <div class="item-total fixed-div-div"><p class="fixed-div-content">Bill</p></div>
      </div>
    </div>
    
    <div class="bottom-div">
      <% orders.forEach((order, index) => { %>
        <%if(order.customerId === bill.customerId && order.paid_time === bill.paid_time){%>
          <div class="dynamic-div">
            <!-- <div class="item-srNo dynamic-div-div"><p class=" dynamic-div-content"><= index + 1 %></p></div> -->
            <div class="item-name dynamic-div-div"><p class="dynamic-div-content"><%= order.name %></p></div>
            <div class="item-price dynamic-div-div"><p class=" dynamic-div-content"><%= order.price %></p></div>
            <div class="item-qty dynamic-div-div"><p class=" dynamic-div-content">x <%= order.qty %></p></div>
            <div class="item-total dynamic-div-div"><p class=" dynamic-div-content"><%= order.qty*order.price %></p></div>
          </div>  
        <% } %>
      <% }) %>
    </div>
            <div class="bill-price-div">
            <p class="totalItems"> Total items : <b><%= orders.filter(o => o.customerId === bill.customerId && o.paid_time === bill.paid_time).length %></b> </p>
            <p class="totalValue"> Total : <b id="price">&#8377; <%= orders.filter(o => o.customerId === bill.customerId && o.paid_time === bill.paid_time).reduce((acc, curr) => acc + (curr.price*curr.qty), 0) %></b></p>
            </div>
    <p class = "brand-name">Powered By : Magic Menu</p>
</div>

<div class="masterDiv admin-masterDiv">
  <a class="icon" href="/admin/history">
    <i class="fa-solid fa-file"></i>
    <p>Orders History</p>
  </a>
</div>
 <% }) %> 

