<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>

<head>
  <title>Admin Home</title>
  <link rel="stylesheet" href="/css/adminPage.css">
</head>


  <% if( !items.length ){ %>
    
    <div class="row mt-3 " style= "justify-content:center;">
        <div class="card mt-3 " style="width: 20rem; border: none;">
            <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
            <div class="card-body mt-2">
            <h5 class="card-title text-primary"> <b>No Listings</b></h5>
            <p class="card-text mt-3 text-primary"><i>You didn't list any item yet!</i> </p>
            <a href="/admin/new" class="btn btn-add">Add New</a>
            </div>
        </div>
    </div>
<% } %>

<a href="/admin/new" class="btn admin-add-btn ">Add New Item</a>
<h1 class="admin-page-title"><b>Welcome to Creative Cafe</b> <br> Your Owner ID is :-<%= currUser._id %></h1>

<div class="master-div">
  
  <% for(let item of items){ %>

      <div class=" admin-home-card">

          <img src="<%= item.image.url %>" class="admin-home-card-img" alt="loading" >

          <div class="content-div">

            <div class="name-price-div">
              <div class="item-name-div"><p class="card-text item-name"><%=item.name %></p></div>
              <div class="item-price-div"><p class="card-text i9tem-price"> &#8377; <%= item.price %></p></div>
            </div>

            <div class="item-info-div"><p class="card-text item-info"><%= item.info %></p></div>
            
            <div class="buttons-div">
              <a href="/admin/<%= item._id %>/show" class="btn admin-show-btn">Show</a>
            </div>

          </div>
      </div>

  <% } %>
</div>