<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>

<head>
  <title>Admin Home</title>
  <link rel="stylesheet" href="/css/adminPage.css">
</head>


<div class="admin-page-title"><h1><b> Welcome to <%= hotel.hotelname %> </b></h1></div>
<button class="btn btn-primary" onclick="main();">Get Notified</button>
<h3 class="admin-page-title-id" id="idAdmin">Your Owner ID is :- <%= currUser._id %></h3>
<div class="notification-popup" id="notificationPopup">
  <p class="notification-message" id="notificationMessage"></p>
</div>


<% if( !items.length ){ %>
    
  <div class="row mt-3 " style= "justify-content:center;">
      <div class="card mt-3 " style="width: 20rem; border: none;">
          <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
          <div class="card-body mt-2">
          <h5 class="card-title text-primary"> <b>No Listings</b></h5>
          <p class="card-text mt-3 text-primary"><i>You didn't list any item yet! <br> Please add some listings to show...</i> </p>
          </div>
      </div>
  </div>
<% } %>


<div class="master-div" id="masterDiv">
  
  <% for(let item of items){ %>
    
      <div class=" admin-home-card">
          <img src="<%= item.image.url %>" class="admin-home-card-img" alt="loading" >

          <div class="content-div">
            <div class="name-price-div">
              <div class="item-name-div"><p class="card-text item-name"><%=item.name %></p></div>
              <div class="item-price-div"><p class="card-text item-price"> &#8377; <%= item.price %></p></div>
            </div>

            <div class="item-info-div"><p class="card-text item-info"><%= item.info %></p></div>
            
            <div class="buttons-div">
              <a href="/admin/<%= item._id %>/show" class="btn admin-show-btn">Show</a>
            </div>

          </div>
      </div>
  <% } %>
</div>
<script src="/js/Notification.js"></script>
<!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script> -->

<!-- <script>
  const socket = io();
  const currUser = <  JSON.stringify(currUser) %>;
  let notificationDiv = document.getElementById('notificationPopup');
  let notificationMessage = document.getElementById('notificationMessage');
  // let audio = document.getElementById('audioTag');
  // let notifyAudio = document.getElementById('iframeAudio');



  // function playAudio(){
  //   audio.play();
  // }

  socket.on("orderNotification", (data)=>{
      // audio.play();
      if(data.owner === currUser._id){
        setTimeout(()=>{
          notificationDiv.style.display="none";
          notificationMessage.innerHTML=" ";
        },5000);
        notificationDiv.style.display="block";
        notificationDiv.style.backgroundColor="black";
        notificationMessage.innerHTML=data.message;
      }else{
        notificationDiv.style.display="none"
      }
  });

  socket.on("cancelNotification", (data)=>{
      // audio.play();
      if(data.owner === currUser._id){
        setTimeout(()=>{
          notificationDiv.style.display="none";
          notificationMessage.innerHTML=" ";
        },5000);
        notificationDiv.style.display="block";
        notificationDiv.style.backgroundColor="red";
        notificationMessage.innerHTML=data.message;
      }else{
        notificationDiv.style.display="none"
      }
  });
</script> -->