<%- include("../includes/loading.ejs") %>
<script>
  // Show the loading screen
  document.getElementById('loading-screen').style.display = 'block';

// Hide the loading screen when the content is loaded
  window.onload = function() {
    setTimeout(()=>{
      document.getElementById('loading-screen').style.display = 'none';
    },1000)
  }
</script>


<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<%- include("../includes/adminFooter.ejs") %>


<head>
    <link rel="stylesheet" href="/css/adminHistoryPage.css">
</head>


<% uniqueDates.forEach((date) => { %>
    <div class="master-div">
        <div class="pageTitleDiv"><h1><b> <%= date%></b></h1></div>
        <div class="sub-master-div">
            <% parsedTables.forEach((table) => { %>
                <%if(table.paid_date === date){%>
                    <a href="/admin/<%=date%>/history/<%= table.tableno %>" class="sub-cat-anchor sample">
                        <div class="sub-cat-div" >
                            <p class="sub-cat-text"><%= table.tableno %></p>
                        </div>
                    </a>
                <% } %>    
            <% }) %>
        </div>
    </div> 
<% }) %>
