<%- include("../includes/loading.ejs") %>
<script>
  // Show the loading screen
  document.getElementById('loading-screen').style.display = 'block';

// Hide the loading screen when the content is loaded
  window.onload = function() {
    setTimeout(()=>{
      document.getElementById('loading-screen').style.display = 'none';
    },1000)
  }
</script>


<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<%- include("../includes/flash.ejs") %>
<%- include("../includes/adminFooter.ejs") %>

<head>
  <link rel="stylesheet" href="/css/adminBillPage.css">
  <link rel="stylesheet" href="/css/modal.css">
</head>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm All Orders?</h5>
      </div>
      <div class="modal-body">
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/<%= number %>/confirmAll" class="btn btn-success final-confirmButton">Confirm</a>
      </div>
    </div>
  </div>
</div>

<div class="master-div adminBillPage-master-div">
    <%if(number){%>
        <div class="pageTitleDiv"><h1><b> Table no: <%= number %></b></h1></div> 
      <%}%>
    
    <div class="top-div">
      <div class="name-number-div">
        <% if(customername){ %>
          <p class="top-div-content">Name: <%=customername%></p>
        <% } %>
        <% if(mobNumber){ %>
          <p class="top-div-content">Contact: <%=mobNumber%></p>
        <% } %>
      </div>
        <div class="time-date-div">
            <p class="top-div-content">Date: <%=date%></p>
            <p class="top-div-content">Time: <%=time%> </p>
        </div>
    </div>
    
    <div class="middle-div">
      <div class="fixed-div">
          <div class="item-name fixed-div-div"><p class="fixed-div-content">Item Name</p></div>
          <div class="item-qty fixed-div-div"><p class="fixed-div-content">Qty</p></div>
          <!-- <div class="item-price fixed-div-div"><p class="fixed-div-content">Price</p></div> -->
          <div class="item-status fixed-div-div"><p class="fixed-div-content">Status</p></div>
      </div>
    </div>
    
    <div class="bottom-div">
      <% for(let order of waitingOrders){ %>
        
         <!-- Reject Modal -->
         <div class="modal fade" id="rejectOrder<%=order._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reject Order</h5>
              </div>
              <div class="modal-body">
                This action cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                <a href="/admin/<%- order._id %>/reject" class="btn btn-success final-rejectButton" >Reject</a>
              </div>
            </div>
          </div>
        </div>

          <div class="dynamic-div">
              <div class="item-name dynamic-div-div"><p class="dynamic-div-content"><%= order.name %></p></div>
              <div class="item-qty dynamic-div-div"><p class=" dynamic-div-content">x<%= order.qty %></p></div>
              
              <%if(order.status === "Waiting"){%>
                  <div class="item-status dynamic-div-div">
                      <form action="/admin/<%= order._id %>/confirm" >
                        <button type="submit" class="btn btn-info admin-confirm-btn confirmButton">Confirm</button>
                      </form> 
                      <audio id="notification-sound" src="/sounds/small_message_tone.mp3" type="audio/mp3" controls="false" style="display: none;"></audio>
                      <button class="btn btn-danger admin-confirm-btn rejectButton" data-bs-toggle="modal" data-bs-target="#rejectOrder<%=order._id%>">Reject</button>
                      <audio id="remove-sound" src="/sounds/small_not_tone.wav" type="audio/mp3" controls="false" style="display: none;"></audio>
                  </div>
              <% } %>
          </div>
      <% } %>


      <%for(order of confirmedOrders){%>
          <div class="dynamic-div">
            <div class="item-name dynamic-div-div"><p class="dynamic-div-content"><%= order.name %></p></div>
            <div class="item-qty dynamic-div-div"><p class=" dynamic-div-content"><%= order.qty %></p></div>
            <div class="item-status dynamic-div-div"><p class=" dynamic-div-content"><%= order.status %></p></div>
          </div>  
      <% } %>
    </div>
</div>

<%if(waitingOrders && waitingOrders.length){%>
  <div class="bill-bottom-div special-bill-bottom-div">
    <div class=" bill-button-div ">
      <!-- Button trigger modal -->
      <a class="btn btn-info confirm-order-button " data-bs-toggle="modal" data-bs-target="#confirmOrder">Confirm All</a>
    </div>
  </div>
<% } %>

<%if(!waitingOrders.length){%>
  <div class="bill-bottom-div special-bill-bottom-div">
    <div class=" bill-button-div ">
      <a href="/admin/tables/bill/<%= number %>" class="btn btn-info genarate-bill-button" id="billButton" >Generate Bill</a>
    </div>
  </div>
<% } %>



<!-- JavaScript -->
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>const owner = <%- JSON.stringify(owner) %>;</script>
<script>
  const socket = io();
  socket.on("Cancel_Order",(data)=>{
    if(data.owner = owner){
      setTimeout(()=>{
        window.location.reload(true);
      },1500) 
    }
  });

  socket.on("Table_Onboarded",(data)=>{
    if(data.owner = owner){
      setTimeout(()=>{
        window.location.reload(true);
      },1500) 
    }
  });

  document.querySelectorAll('.final-confirmButton').forEach((button) => {
      button.addEventListener('click', (e) => {
        document.getElementById("notification-sound").play();
        e.target.style.display = 'none';
        socket.emit("Confirm-Reject" , {owner:owner});
      });
    });

    document.querySelectorAll('.confirmButton').forEach((button) => {
      button.addEventListener('click', (e) => {
        document.getElementById("notification-sound").play();
        e.target.style.display = 'none';
        socket.emit("Confirm-Reject" , {owner:owner});
      });
    });

  document.querySelectorAll('.final-rejectButton').forEach((button) => {
    button.addEventListener('click', (e) => {
      document.getElementById("remove-sound").play();
      e.target.style.display = 'none';
      socket.emit("Confirm-Reject" , {owner:owner});
    });
  });
  

</script>
<script>
  document.getElementById('billButton').addEventListener('click', () => {
    history.replaceState(null, null, '/admin/tables');
    history.pushState(null, null, '/admin/tables');
  });
</script>