<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
    <link rel="stylesheet" href="/css/adminOrderPage.css">
    <meta http-equiv="refresh" content="15">
</head>
<body>
  

<% if( !confirmOrders.length ){ %>
    
    <div class="row mt-3 nofity-div" style= "justify-content:center; width: 100vw;" >
        <div class="card mt-3 " style=" border: none;">
            <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
            <div class="card-body mt-2">
              <h5 class="card-title text-primary"> <b>No order to confirm</b></h5>
            </div>
        </div>
    </div>
  <% } %>
  
<% if(confirmOrders.length) { %>
  <h5>Orders to confirm</h5>
  <div class="master-div" id="masterDiv">
    <% for(let order of confirmOrders){ %>
      
        <div class=" admin-home-card">

          <div class="admin-home-card-img-div">
            <img src="<%= order.image.url %>" class="admin-home-card-img" alt="loading" >
          </div>

          <div class="content-div">
            
            <div class="name-price-div">
              <div class="item-name-div"><p class="card-text item-name"><%=order.name %></p></div>
              <div class="item-price-div"><p class="card-text item-price"> &#8377; <%= order.price %>/</p></div>
            </div>

            <div class="customername-qty-div">
                <div class="item-customername-div"><p class="card-text item-info">Order by :- <%= order.customername %></p></div>
                <div class="item-qty-div">
                  <p class="card-text item-qty">Qty:- <%=order.qty %></p> 
                  <% if(order.tableno){ %>
                    <p class="card-text">Table No:- <%=order.tableno%></p>
                  <%}%>
                </div>
            </div>

            <div class="buttons-div">
              <a href="/admin/<%= order._id %>/confirm" class="btn btn-info admin-confirm-btn">Confirm</a>
              <a href="/admin/<%= order._id %>/reject" class="btn btn-danger admin-confirm-btn">Reject</a>
            </div>

          </div>
        </div>
      <% } %>
    </div>
<% } %>


<% if(allOrders.length) { %>
  <h3>All Orders</h3> <h5>Total Order Number : <%= allOrders.length %></h5>
  <div class="master-div" id="masterDiv">
    
    <% for(let order of allOrders){ %>
        <div class=" admin-home-card">
          <div class="admin-home-card-img-div">
            <img src="<%= order.image.url %>" class="admin-home-card-img" alt="loading" >
          </div>
          <div class="content-div">
            <div class="name-price-div">
              <div class="item-name-div"><p class="card-text item-name"><%=order.name %></p></div>
              <div class="item-price-div"><p class="card-text item-price"> &#8377; <%= order.price %>/</p></div>
            </div>
            <div class="customername-qty-div">
                <div class="item-customername-div"><p class="card-text item-info">Order by :- <%= order.customername %></p></div>
                <div class="item-qty-div"><p class="card-text item-qty">Qty:- <%=order.qty %></p></div>
                <p>On : <%= order.created_at %></p>
            </div>
            <div class="buttons-div">
              <p class="card-text" >Order is confirmed </p>
            </div>
          </div>
        </div>
    <% } %>
  </div>
<% } %>
</body>