
<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<!-- <- include("../includes/adminFooter.ejs") %> -->

<%- include("../includes/loading.ejs") %>
<script>
  // Show the loading screen
  document.getElementById('loading-screen').style.display = 'block';

// Hide the loading screen when the content is loaded
  window.onload = function() {
    setTimeout(()=>{
      document.getElementById('loading-screen').style.display = 'none';
    },1000)
  }
</script>



<head>
    <link rel="stylesheet" href="/css/adminBillPage.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>


  <!-- Modal -->
  <div class="modal fade" id="closeAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Close Account?</h5>
        </div>
        <div class="modal-body">
          This reflects the payment is received.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          <form action="/admin/tables/bill/<%=number%>" method="post">
            <input type="text" name="invoice" value="<%=invoice%>" style="display: none;">
            <button type="submit" class="btn btn-success" id="billButton">Continue</button> 
          </form>
        </div>
      </div>
    </div>
  </div>


  <%if(number){%>
    <div class="pageTitleDiv"><h1><b> <%= hotel.hotelname%></b></h1></div> 
  <%}%>
<div class="master-div">
    <div class="top-div">
      <div class="name-number-div">
        <% if(customername){ %>
          <p class="top-div-content">Name: <%=customername%></p>
        <% } %>
        <% if(mobNumber){ %>
          <p class="top-div-content">Contact: <%=mobNumber%></p>
        <% } %>
        <p class="top-div-content">Invoice: #<%=invoice%></p>
      </div>
      
        <div class="time-date-div">
            <p class="top-div-content">Date: <%=paid_date%></p>
            <p class="top-div-content">Time: <%=paid_time%> </p>
            <p class="top-div-content">Table no: <%= number %> </p>
            
        </div>
    </div>
    
    <div class="middle-div">
      <div class="fixed-div">
          <div class="item-srNo fixed-div-div"><p class="fixed-div-content">Sr.</p></div>
          <div class="item-name fixed-div-div"><p class="fixed-div-content">Item Name</p></div>
          <div class="item-price fixed-div-div"><p class="fixed-div-content">Price</p></div>
          <div class="item-qty fixed-div-div"><p class="fixed-div-content">Qty</p></div>
          <div class="item-total fixed-div-div"><p class="fixed-div-content">Bill</p></div>
      </div>
    </div>
    
    <div class="bottom-div">
      <% confirmedOrders.forEach((order, index) => { %>
          <div class="dynamic-div">
            <div class="item-srNo dynamic-div-div"><p class=" dynamic-div-content"><%= index + 1 %></p></div>
            <div class="item-name dynamic-div-div"><p class="dynamic-div-content"><%= order.name %></p></div>
            <div class="item-price dynamic-div-div"><p class=" dynamic-div-content"><%= order.price %></p></div>
            <div class="item-qty dynamic-div-div"><p class=" dynamic-div-content">x <%= order.qty %></p></div>
            <div class="item-total dynamic-div-div"><p class=" dynamic-div-content"><%= order.qty*order.price %></p></div>
          </div>  
      <% }) %>
    </div>
    
    <div class="bill-price-div">
      <p class="totalItems"> Total items : <b><%=confirmedOrders.length%></b> </p>
      <p class="totalValue"> Total : <b id="price">&#8377;</b></p>
    </div>
    <p class = "brand-name">Powered By : Magic Menu</p>
</div>

<div class="bill-bottom-div">
  <div class="close-bill-button-div bill-button-div">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary close-bill-button" data-bs-toggle="modal" data-bs-target="#closeAccountModal">
      Close Account
    </button>
  </div>
</div>


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>


<script>
  let items = <%- JSON.stringify(confirmedOrders) %>;
    if(items.length){
        const billValue = []; 
        for(item of items){
        billValue.push(item.price*item.qty)
    }
    let price = billValue.reduce((accumulator, current) => accumulator + current);
    let value = document.getElementById("price");
    value.innerText = price;
    }
</script>
<script>
  const owner = <%- JSON.stringify(owner) %>;
  const socket = io();
</script>

<script>
  document.getElementById('billButton').addEventListener('click', () => {
    socket.emit("Confirm-Reject" , {owner:owner});
    history.replaceState(null, null, '/admin/tables');
    history.pushState(null, null, '/admin/tables');
  });
</script>