<%- layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/masterFooter.ejs") %>
<%- include("../includes/flash.ejs") %>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="/css/cartPage.css">
</head>

<div class="alert col-8 offset-2 alert-success alert-dismissible fade show flash flashSuccess success" id="success" role="alert">
    <p><i class="fa-regular fa-circle-check"></i> &nbsp;&nbsp;&nbsp;&nbsp;<span id="successSpan"></span></p>
</div>

<h5 class="cart-title"> Items in Cart <i class="fa-solid fa-cart-shopping"></i></h5>

<% if(!items.length){ %>
    <div class="row  row-col-sm-1 row-col-1 mt-3 " style= "width:99vw; justify-content:center;margin: 0;">
        <div class="card mt-3 " style="width: 19rem; border: none;">
            <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
            <div class="card-body">
            <h5 class="card-title text-info"> <b> Oops! Cart is Empty</b></h5>
            <p class="card-text text-info"><i>You didn't have any item in your Cart!</i> </p>
            <a href="/menu/food" class="btn btn-outline-info">Explore Menu</a>
            </div>
        </div>
    </div>
<% } %>

<div class="master-div">
<% for(item of items){ %>
    
        <div class="cart-card">

            <div class="img-div">
                <img src="<%= item.image.url %>" alt="" class="cart-card-img">
            </div>

            <div class="content-div">

                <div class="name-price-div">

                    <div class="item-name-div">
                        <p class="card-text item-name"><%= item.name %></p>
                    </div>

                    <div class="item-price-div">
                        <p class="card-text item">&#8377; <%= item.price.toLocaleString("en-IN") %></p>
                    </div>

                </div >
                
                <div class="buttons-div">
                    <!-- <div class="quantity-div">
                        <button id="subtractBtn" class="subtract-btn" type="button" onclick="substraction();"><i class="fa-solid fa-minus"></i></button>
                        <input class="form-control order-input qty-order-input" type="input" id="orderQuantity" name="qty" value="1" min="1" readonly>
                        <button id="addBtn" class="addition-btn" type="button" onclick="addition();"><i class="fa-solid fa-plus"></i></button>
                    </div> -->
                    <form action="/cart/<%= item._id %>/remove" method="post" id="remove-form" >
                        <button class="btn cart-remove-btn removeButton">Remove</button>
                        <audio id="remove-sound" src="/sounds/small_not_tone.wav" type="audio/mp3" controls="false" style="display: none;"></audio> 
                    </form>
                    
                </div>
            </div>

        </div>

<% } %>
</div>
<% if(items.length){ %>
    <div class="orderBtnDiv">
        <div class="detailsDiv">
            <p class="totalItems"> Total items : <b><%= items.length %></b> </p>
            <p class="totalValue"> Total price: <b id="price">&#8377;</b></p>
        </div>


        <form action="/cart/order" method="post" id="order-form" class="needs-validation" >
            <input type="text" name="customername" class="form-control order-input" placeholder="Enter Your Name" value="<%= customerName %>" required />
            <input type="text" name="mob_number" class="form-control order-input"  placeholder="Enter Your Mobile Number" minlength="10" maxlength="10">
            <button class="orderBtn btn btn-info" id="orderButton">Order All</button>
            <audio id="notification-sound" src="/sounds/small_sms_tone.mp3" type="audio/mp3" controls="false" style="display: none;"></audio> 
        </form>
        
    </div>
<% } %>



<script>

    document.querySelectorAll('.removeButton').forEach((button) => {
      button.addEventListener('click', (e) => {
        e.target.style.display = 'none'; 
      });
    });

    const removeForm = document.getElementById('remove-form');
    removeForm.addEventListener('submit', (event) => {
        event.preventDefault();
        document.getElementById("remove-sound").play();
        setTimeout(()=>{
            removeForm.submit();
        },1000);
    });

    

    // For order-quantity buttons
    function addition(){
    orderQuantity.value++;
    }

    function substraction(){
        if(orderQuantity.value>1){
            orderQuantity.value--;
        }
    }

    let items = <%- JSON.stringify(items) %>;
    if(items.length){
        const cartValue = []; 
        for(item of items){
        cartValue.push(item.price)
    }
    let price = cartValue.reduce((accumulator, current) => accumulator + current);
    let value = document.getElementById("price");
    value.innerText = price;
    }
    
</script>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

<script>
    const socket = io();
    document.getElementById("orderButton").addEventListener("click", function(){
        this.style.display = "none";
        setTimeout(()=>{
            document.getElementById("orderButton").style.display = "initial";
        },2000);
    });
    
    const form = document.getElementById('order-form');

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        document.getElementById("notification-sound").play();
        setTimeout(()=>{
            form.submit();
            socket.emit("Table-Onboarded", {tableNO:tableNO, owner:hotelID});
        },1400);
    });
    
</script>