<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<%- include("../includes/flash.ejs") %>
<%- include("../includes/footer.ejs") %>
<head><title>Edit items</title></head>

    <div class="row mt-3">
        <div class="col-8 offset-2 mb-3">
    <h1>Edit Listing</h1>
    <form method="POST" action="/admin/<%= item._id %>/edit?_method=PUT"  class="needs-validation">


        <div class="mb-3">
            <label for="name" class="form-label">Title</label>
            <input name="listing[name]" value="<%= item.name%>" type="text" class="form-control" id="name" required>
            <div class="invalid-feedback">Please Enter Valid Title</div>
            <div class="valid-feedback">Awesome !</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[info]" class="form-control" required> <%= item.info %></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input name="listing[img]" value="<%= item.img %>" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= item.price %>" type="number" class="form-control" required>
        </div>
        
        <button class="btn btn-dark edit-btn">Edit</button>
    </form>
</div>
</div>