<%- layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/masterFooter.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
  <link rel="stylesheet" href="css/homePage.css">
</head>

<div class="homeTitleDiv"><h1><b> Welcome to <%= hotel.hotelname %></b></h1></div>

<div class="mainHomeDiv">
  <% if(banner.length) { %>
    <div class="bannerDiv">
      <img src="<%= banner %>" class="bannerImage" alt="">
    </div>
  <% } %>

  <div class="specialDiv">
    <h4>Top Picks For You</h4>
    <div class="specialContentDiv">
      <% for(item of specialItems){ %>
        <a href="/orders/<%= item._id %>" class="specialItemCard">
          <img src="<%= item.image.url %>" alt="" class="specialContentImage">
          <div class="textDiv">
            <p class="card-text item-name"><%= item.name %></p>
            <p class=" card-text item-price"><b>&#8377; <%= item.price %></b></p>  
          </div>
        </a>
      <%  } %>
    </div>
  </div>

  <div class="recommendDiv">
    <h4>Recommended</h4>
    <div class="recommendContentDiv">
      <% for(item of recommendItems){ %>
        <a href="/orders/<%= item._id %>" class="recommendItemCard">
          <img src="<%= item.image.url %>" alt="" class="recommendContentImage">
        </a>
      <%  } %>
    </div>
  </div>

</div>