<%- layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/masterFooter.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
  <link rel="stylesheet" href="css/homePage.css">
</head>

<div class="homeTitleDiv"><h1><b> Welcome to <%= hotel.hotelname %></b></h1></div>

<div class="mainHomeDiv">
  
    <div class="bannerDiv">
      <img src="/images/Banner.PNG" class="bannerImage" alt="Banner Image">
    </div>
  

  <div class="specialDiv">
    <h4>Best Seller Items</h4>
    <div class="specialContentDiv">
      <% for(item of specialItems){ %>
        <a href="/orders/<%= item._id %>" class="specialItemCard">
          <img src="<%= item.image.url %>" alt="" class="specialContentImage">
          <div class="textDiv">
            <p class="card-text item-name"><%= item.name %></p>
            <p class=" card-text item-price"><b>&#8377; <%= item.price %></b></p>  
          </div>
        </a>
      <%  } %>
    </div>
  </div>

  <div class="categoryDiv">
    <h4 class="mb-3">Categories</h4>
    <div class="categoryCardDiv">
      <a href="/beverage" class="categoryCard">
        <h6>Beverage</h6>
        <img src="/images/Beverage Img.jpg" alt="" class="categoryCardImage">
      </a>
      <a href="/menu" class="categoryCard">
        <h6>Food</h6>
        <img src="/images/Food Img.jpg" alt="" class="categoryCardImage">
      </a>
    </div>
  </div>

</div>
