<%- layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/masterFooter.ejs") %>
<%- include("../includes/flash.ejs") %>


<head>
    <link rel="stylesheet" href="/css/itemsPage.css">
    <link rel="stylesheet" href="/css/menuPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>



<div class="warning">
    <p style="color: red;">Screen too small to load content</p>
</div>

<div class="bannerDiv">
    <img src="/images/New Banner.PNG" class="bannerImage" alt="Banner Image">
</div>

<h4 class="sub-cat-heading">Looking for something delicious?</h4>
<div class="top-scroll-div">


<% for(item of uniqueItems){ %>
    <% if(item === "Pizza"){ %>
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div" >

                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758683/magic_Media/ak0011xz8drpoqmooee2.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>

                <p class="sub-cat-text">Pizza</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Burger"){ %>
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724862574/magic_Media/Burger_m4txsm.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Burger</p>
            </div>
        </a>
    <% } %>
<% } %>



<% for(item of uniqueItems){ %>
    <% if(item === "Sandwich"){ %>
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758685/magic_Media/trabq5n5ojdweb8bhub4.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Sandwich</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Pasta"){ %>
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758685/magic_Media/ulzvf6mhvhnbspjqisxa.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Pasta</p>
            </div>
        </a>
    <% } %>
<% } %>


<% for(item of uniqueItems){ %>
    <% if(item === "Maggi"){ %>    
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724862576/magic_Media/Maggi_emfbtj.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Maggi</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Noodles"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                    <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724761233/magic_Media/zbukm0hkeer20qvgy405.jpg" alt="Category Image" class="sub-cat-image">
                </div>
                
                <p class="sub-cat-text">Noodles</p>
            </div>
        </a>
    <% } %>
<% } %>


<% for(item of uniqueItems){ %>
    <% if(item === "Momo"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                    <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758685/magic_Media/yfrzczzgmqziqkycmwuv.jpg" alt="Category Image" class="sub-cat-image">
                </div>
                
                <p class="sub-cat-text">Momo</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Rolls"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                    <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758685/magic_Media/jqjoojwhhwor23yrqer5.jpg" alt="Category Image" class="sub-cat-image">
                </div>
                
                <p class="sub-cat-text">Rolls</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Fries"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724862575/magic_Media/Fries_jmewfu.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Fries</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Manchurian"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724761239/magic_Media/xz7cedu7f2faabsuxvzo.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Manchurian</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Appetizer"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724761233/magic_Media/a9yt3n0dexh65alalxof.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                
                <p class="sub-cat-text">Appetizer</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Brownie"){ %> 
        <a href="/items/<%= item %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div">
                <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724761237/magic_Media/hzrssfrxa23aupc8zds1.jpg" alt="Category Image" class="sub-cat-image"> 
                </div>
                <p class="sub-cat-text">Brownie</p>
            </div>
        </a>
    <% } %>
<% } %>

<% for(item of uniqueItems){ %>
    <% if(item === "Icecream"){ %> 
    <a href="/items/<%= item %>" class="sub-cat-anchor sample">
        <div class="sub-cat-div">
            <div class="sub-cat-image-div">
                <img src="https://res.cloudinary.com/dcgskimn8/image/upload/v1724758685/magic_Media/bu7hck6hxd7kndtfok06.jpg" alt="Category Image" class="sub-cat-image">
            </div>
            
            <p class="sub-cat-text">Ice-cream</p>
        </div>
    </a>
    <% } %>
<% } %>
</div>



<% if(vegItems.length){ %>
    <h2 class="sub-cat-heading heading-2" style="color: green;">Foodie Fun Zone...</h2>
    <div class="master-div">
      <% for(item of vegItems){ %>  
          <div class="menu-card">
  
            <div class="img-div"><img src="<%= item.image.url %>" alt="" class="menu-card-img"></div>
  
            <div class="content-div">
              
              <div class="name-price-div">
                <div class="item-name-div"><p class="card-text item-name"><%= item.name %></p></div> 
                <div class="item-price-div"><p class="card-text item-price">&#8377; <%= item.price %></p></div>
              </div>
              
              <div class="item-info-div">
                <p class=" item-info"> <%= item.info %> </p> 
              </div>
                
              <div class="buttons-div data-item" data-item-id="<%=item._id %>">
                    <a class="btn menu-order-btn" href="/orders/<%= item._id %>">Order</a>
                    <button class="btn menu-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
              </div>
    
            </div>
          </div>
        <% } %>
      </div>
  <% } %>

  <% if(nonvegItems.length){ %>
    <h2 class="sub-cat-heading heading-2" style="color: red;">Non-Veg Section </h2>

    <div class="master-div">
      <% for(item of nonvegItems){ %>  
          <div class="menu-card" >
  
            <div class="img-div"><img src="<%= item.image.url %>" alt="" class="menu-card-img"></div>
  
            <div class="content-div">
              
              <div class="name-price-div">
                <div class="item-name-div"><p class="card-text item-name"><%= item.name %></p></div> 
                <div class="item-price-div"><p class="card-text item-price">&#8377; <%= item.price %></p></div>
              </div>
              
              <div class="item-info-div">
                <p class=" item-info"> <%= item.info %> </p> 
              </div>
                
              <div class="buttons-div data-item " data-item-id="<%=item._id %>">
                <a class="btn menu-order-btn" href="/orders/<%= item._id %>">Order</a>
                <button class="btn menu-cart-btn "><i class="fa-solid fa-cart-shopping"></i></button>
              </div>
            </div>
          </div>
        <% } %>
      </div>
  <% } %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.5/axios.min.js" integrity="sha512-01Pe9P3mJM/4c80VuoYEGHlspKGbd9uWQe9HtdLsdTqV0CS1kz8ca44sinVEXEvlZNciMmsAjeEbm5ZxHC7yYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const cartButtons = document.querySelectorAll('.menu-cart-btn');

    cartButtons.forEach(button => {
    button.addEventListener('click', (event) => {
        const itemId = event.target.closest('.data-item').dataset.itemId;
        button.style.display="none";
        setTimeout(()=>{
            button.style.display = "inline";
        },1000);
        axios.post('/cart', { itemId })
        .then(response => {
            
      })
      .catch(error => {
        console.error(error);
      });
    });
    });
</script>