<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
    <title>Orders</title>
    <link rel="stylesheet" href="/css/myorderPage.css">
</head>


<h3 class="myorder-title"> Your Orders  <i class="fa-solid fa-truck"></i></h3>


<% if( !items.length ){ %>
    
        <div class="row  row-col-sm-1 row-col-1 mt-3 " style= "justify-content:center;">
            <div class="card mt-3 " style="width: 20rem; border: none;">
                <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
                <div class="card-body mt-2">
                <h5 class="card-title text-primary"> <b>No Orders</b></h5>
                <p class="card-text mt-3 text-primary"><i>You didn't make any order yet!</i> </p>
                <a href="/home" class="btn btn-secondary mt-3">Explore Menu</a>
                </div>
            </div>
        </div>
<% } %>


<div class="master-div">
<% for(item of items){ %>
    <% if(sessionId === item.customerId){ %>
        
            <div class="myorder-card">
                <div class="img-div">
                    <img src="<%= item.image.url %>" alt="" class="myorder-card-img">
                </div>

                <div class="content-div">

                   <div class="item-name-div"><p class="card-text item-name"><%= item.name %></p></div>

                    <div class="price-qty-div"> 
                        <p class="card-text item-price">Price : &#8377; <%= item.price.toLocaleString("en-IN") %></p>
                        <p class="card-text item-qty"> Qty : <%= item.qty %> </p>
                    </div>
                
                    <div class="buttons-div">
                        <a class="btn myorder-cancel-btn" href="/myorders/<%= item._id %>/cancel">Cancel</a>
                    </div>
                </div>
            </div>

            
        <% } %>

    <% } %>
</div>