<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/masterFooter.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/orderPage.css">
</head>

    <div class="regretMessage">
        <p>Sorry Minimum width required is 280 pixels <br>
           Will be available soon !
        </p>
    </div>

    <h3 class="card-title order-page-title">Great Choice !</h3>

    <div class="master-div">

        <div class="order-card">
            <img 
            src="<%= item.image.url %>" class="order-card-img" alt="loading"  >
            
            <div class="content-div">
                <div class="item-name-div"><h5 class="item-name"><%=item.name %></h5></div>
                <div class="item-price-div"><p class="item-price">  &#8377; <%= item.price.toLocaleString("en-IN") %></p></div>

                <div class="buttons-div">
                    <form  action="/orders/<%= item._id %>" method="post" id="order-form" class="order-form"  >
                        <input type="text" name="customername" id="customerName" class="form-control order-input" placeholder="Enter Your Name" value="<%= customerName %>" required >
                        <input type="text" value="<%= new Date().toString().split(" ").slice(1,5).join(" ") %>"  name="created_at"  style="display: none;">
                        
                        <div class="qty-button-div">
                            <div class="quantity-div">
                                <button id="subtractBtn" class="subtract-btn" type="button" onclick="substraction();"><i class="fa-solid fa-minus"></i></button>
                                <input class="form-control order-input qty-order-input" type="input" id="orderQuantity" name="qty" value="1" min="1" readonly>
                                <button id="addBtn" class="addition-btn" type="button" onclick="addition();"><i class="fa-solid fa-plus"></i></button>
                            </div>
                            <button type="submit" class="btn order-btn" id="orderBtn">Order</button>  
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <p class="orderNote">Note : Orders can not be cancelled after confirmation</p>
    </div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

<script>
    
    // For order-quantity buttons
    function addition(){
        orderQuantity.value++;
    }

    function substraction(){
        if(orderQuantity.value>1){
            orderQuantity.value--;
        }
    }
</script>