<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/orderPage.css">
</head>

    <div class="regretMessage">
        <p>Sorry Minimum width required is 280 pixels <br>
           Will be available soon !
        </p>
    </div>

    <h3 class="card-title order-page-title">Great Choice !</h3>

    <div class="master-div">

        <div class="order-card">
            <img 
            src="<%= item.image.url %>" class="order-card-img" alt="loading"  >
            
            <div class="content-div">
                <div class="item-name-div"><h5 class="item-name"><%=item.name %></h5></div>
                <div class="item-price-div"><p class="item-price">  &#8377; <%= item.price.toLocaleString("en-IN") %></p></div>

                <div class="buttons-div">
                    <form  action="/orders/<%= item._id %>" method="post" id="order-form" class="order-form"  >
                        <input type="text" name="personName" id="personName" class="form-control order-input" placeholder="Enter Your Name" required >
                        <input type="text" value="<%= new Date().toString().split(" ").slice(1,5).join(" ") %>"  name="created_at"  style="display: none;">
                        
                        <div class="qty-button-div">
                        <input class="form-control order-input" type="number" id="orderQuantity" name="qty" value="1" min="1">
                        <button type="submit" class="btn order-btn">Order</button>  
                        </div>
                    </form>
                </div>
            </div>
             
        </div>
    </div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

<script>
    const item = <%-  JSON.stringify(item) %>;

    const socket = io();
    
    const orderForm = document.getElementById('order-form');
    let itemName = item.name;
    let personName = document.getElementById('personName');
    let orderQuantity = document.getElementById('orderQuantity');
    let orderTime = new Date().toString().split(" ").slice(1,5).join(" ");

    orderForm.addEventListener('submit', event => {

        socket.emit("clientOrder", {
            itemName:itemName,
            orderQuantity:orderQuantity.value,
            personName:personName.value,
            orderTime:orderTime 
        });
    });
    
</script>