<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/adminNav.ejs") %>
<%- include("../includes/flash.ejs") %>

<head>
    <link rel="stylesheet" href="/css/adminTablesPage.css">
    <link href="/css/masterFooter.css" rel="stylesheet">
</head>



<% if(!waitingTables.length && !activeTables.length){ %>
  <div class="row  row-col-sm-1 row-col-1 mt-3 " style= "width:99vw; justify-content:center;margin: 0;">
      <div class="card mt-3 " style="width: 19rem; border: none;">
          <img src="/images/orders.jpg" class="card-img-top" alt="No order image">
          <div class="card-body">
          <h5 class="card-title text-primary"> <b> No active tables at this moment.</b></h5>
          <p class="card-text text-secondary"><i>Let's use this time to perfect our service!</i></p>
          <!-- <a href="/menu/food" class="btn btn-outline-info">Explore Menu</a> -->
          </div>
      </div>
  </div>
<% } %>

<% if(waitingTables.length || activeTables.length){ %>
  <h1 class="tables-page-heading">All Active Tables</h1>
<% } %>

<div class="master-div">

  <% if(waitingTables && waitingTables.length){ %>
    <% for(table of waitingTables){ %>
        <a href="/admin/tables/orders/<%= table.number %>" class="sub-cat-anchor sample special-div">
            <div class="sub-cat-div" >
                <p class="sub-cat-text special-sub-cat-text"><%= table.number %></p>
            </div>
        </a>
    <% } %>
  <% } %>

  <% if(activeTables && activeTables.length){ %>
    <% for(table of activeTables){ %>
        <a href="/admin/tables/orders/<%= table.number %>" class="sub-cat-anchor sample">
            <div class="sub-cat-div" >
                <p class="sub-cat-text"><%= table.number %></p>
            </div>
        </a>
    <% } %>
  <% } %>
</div>



<div class="masterDiv admin-masterDiv">
    <a class="icon" href="/admin/history">
      <i class="fa-solid fa-file"></i>
      <p>Orders History</p>
    </a>
</div>

        
<!-- JavaScript -->
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

<script>
  const owner = <%- JSON.stringify(owner) %>;
  const socket = io();
  socket.on("Table_Onboarded",(data)=>{
    if(data.owner = owner){
      setTimeout(()=>{
        window.location.reload(true)
      },1500) 
    }
  });

  socket.on("Cancel_Order",(data)=>{
    if(data.owner = owner){
      setTimeout(()=>{
        window.location.reload(true);
      },1500) 
    }
  });
</script>

<!-- <script>
 window.addEventListener('load', () => {
  window.history.replaceState(null, null, window.location.href);
});
</script> -->